[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/jsmn"]
	path = lib/jsmn
	url = https://github.com/zserge/jsmn
[submodule "lib/tiny-regex-c"]
	path = lib/tiny-regex-c
	url = https://github.com/kokke/tiny-regex-c
