[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/jsmn"]
	path = lib/jsmn
	url = https://github.com/zserge/jsmn
[submodule "lib/pcre"]
	path = lib/pcre
	url = https://github.com/rurban/pcre
