[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/jsmn"]
	path = lib/jsmn
	url = https://github.com/zserge/jsmn
[submodule "lib/pcre2"]
	path = lib/pcre2
	url = https://github.com/PhilipHazel/pcre2.git
